<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/blog">Blog</a></li>
			<li><a href="mailto:yogita088sharma@gmail.com">Email</a></li>
			<li><a href="https://github.com/yogitaAP">github.com/yogitaAP</a></li>
    		</ul>
		</nav>
		<div class="container">
    		<div class="blurb">
        		{{ content }}
		</div><!-- /.blurb -->
		</div><!-- /.container -->
	</body>
</html>
